<p><%= I18n.t('mailer.content.hello') %> <%= @user.full_name %>,</p>
<p><%= t('mailer.content.notifications.action_state_update.state_update') %></p>
<code><%= @notif.data[:title] %></code>
<p class='d-flex justify-content-center'><strong><%= @notif.data[:message] %></strong></p>
<p><%= I18n.t('mailer.content.more_details') %></p>
<a style="color: #5E6B76;" href="<%= @url %>"><%= I18n.t('mailer.content.CSIS') %></a><br>
<p><%= I18n.t('mailer.content.polite') %></p>
