<%= I18n.t('mailer.content.hello') %> <%= @user.full_name %>,<br><br>
<%= I18n.t('mailer.content.new_actions') %> <br>
<br>
<%= I18n.t('mailer.content.login') %>
<a style="color: #5E6B76;" href="<%= @url %>"><%= I18n.t('mailer.content.CSIS') %></a><br><br>
<%= I18n.t('mailer.content.polite') %>
