<%= render 'partials/card_bloc', clazz: 'mb-1', card_clazz: 'w-100 p-0 rounded-0' do %>
  <div class="d-flex align-items-center">
    <div class='ms-2 d-flex'>
      <h5 class='p-2 card-title badge-<%= @action.aggregate.severity %> font-weight-bold'>
        <%= translate_severity(@action.aggregate.severity) %>
      </h5>
      <% if @action.due_date.present? %>
        <h5 class='p-2 card-title  text-<%= action_due_date_status_color(@action.due_date_status) %> font-weight-bold' data-bs-toggle='tooltip' data-bs-placement='bottom' title='<%= t("activerecord.attributes.action/due_date_status.#{@action.due_date_status}") %>'>
          <i aria-hidden='true' class='material-icons left align-middle text-<%= action_due_date_status_color(@action.due_date_status) %>'><%= action_due_date_status_icon() %></i>
          <%= l @action.due_date, format: :classic %>
        </h5>
      <% end %>
      <% if @action.priority == "low" || @action.priority == "medium" || @action.priority == "high" %>
        <h5 class='p-2 card-title btn-<%=  action_priority_color(@action.priority) %> font-weight-bold' data-bs-toggle='tooltip' data-bs-placement='bottom' title='<%= t("activerecord.attributes.action/priority.#{@action.priority}") %>'>
          <i aria-hidden='true' class='material-icons left align-middle  %>'><%= action_priority_icon() %></i>
        </h5>
      <% end %>
    </div>
    <div class='ms-auto me-3'>
      <%= form_tag updates_actions_path, method: :post do %>
      <fieldset class="form-group mb-0" role="group">
        <legend class='d-none'>Action state</legend>
        <%= hidden_field_tag('choice[]', @action.id) %>
        <div class="d-flex justify-content-center align-items-center">
          <%= render partial: 'actions/actions_buttons', locals: { action: @action } %>
        </div>
      </fieldset>
      <% end %>
    </div>
  </div>
<% end %>
<%= render 'partials/card_bloc', clazz: 'mb-1', title: t('labels.description') do %>
  <div class="text-pre"><%= sanitize @action.description, tags: ['b'] %></div>
<% end %>
