<%= render 'error_form', url: edit_profile_password_path, button_label: t('helpers.submit.user_profile.update') do |f| %>
  <div class="col">
    <%= render 'partials/square_card_input_wrapper' do %>
      <%= f.input :password, label: t('contacts.form.old_password'), input_html: { name: 'user[current_password]' } %>
    <% end %>
    <%= render 'partials/square_card_input_wrapper' do %>
      <%= f.input :password, label: t('contacts.form.new_password'), input_html: { name: 'user[password]' } %>
    <% end %>
    <%= render 'partials/square_card_input_wrapper' do %>
      <%= f.input :password, label: t('contacts.form.password_confirmation'), input_html: { name: 'user[password_confirmation]' } %>
    <% end %>
  </div>
<% end %>
