<div class="row">
  <div class="table-responsive">
    <table class="table table-hover">
      <caption>InsightAppSec configuration</caption>
      <thead>
        <tr>
          <th id='insight-app-sec_config-url'><%= t('insight_app_sec_configs.labels.url') %></th>
          <th id='insight-app-sec_config-teams'><%= t('insight_app_sec_configs.labels.teams') %></th>
          <th id='insight-app-sec_config-wa-scans'>Wa Scans</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td headers='insight-app-sec_config-url'>
            <code>https://</code><span><%= @insight_app_sec_config.url %></span>
          </td>
          <td headers='insight-app-sec_config-teams'>
            <% @insight_app_sec_config.teams.each do |team| %>
              <%= link_to(team.name, team, class: 'link-block') %>
            <% end %>
          </td>
          <td headers='insight-app-sec_config-wa-scans'>
            <summary></summary>
            <details>
            <ul>
            <% @insight_app_sec_config.wa_scans.each do |scan| %>
              <li><%= "#{scan}: #{scan.reference}" %></li>
            <% end %>
            </ul>
            </details>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= render layout: 'layouts/header_collapse', locals: { id: 'insight_app_sec_imports', header: t('settings.labels.import_all'), count: nil } do %>
  <div class="d-flex flex-column align-items-center flex-wrap">
  <%= form_tag({ action: :import_scans, insight_app_sec_config_id: @insight_app_sec_config.id }, method: :post) do %>
    <%= submit_tag(t('settings.buttons.import_scans'), class: 'btn btn-outline-primary') %>
  <% end %>
  </div>
<% end %>
<%= render layout: 'layouts/header_collapse', locals: { id: 'insight_app_sec_updates', header: t('settings.labels.update'), count: nil } do %>
  <div class='d-flex flex-row justify-content-around'>
    <div class="d-flex flex-row justify-content-start flex-wrap">
      <%= form_tag({ action: :update_scans, insight_app_sec_config_id: @insight_app_sec_config.id }, method: :post) do %>
        <div class='p-2'>
          <% opt = options_for_select([[]].concat(@insight_app_sec_config.wa_scans.recently_launched.map { |s| [s.name, s.internal_id] })) %>
          <%= select_tag :reference, opt, class: 'form-control btn-primary' %>
        </div>
        <div class="p-2">
          <%= submit_tag t('settings.buttons.scan_update'), data: { confirm: t('settings.actions.update_confirm') }, class: 'btn btn-outline-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= render layout: 'layouts/header_collapse', locals: { id: 'insight_app_sec_deletions', header: t('settings.labels.delete_one'), count: nil } do %>
  <div class='d-flex flex-row justify-content-around'>
    <div class="d-flex flex-row justify-content-start flex-wrap">
      <%= form_tag({ action: :delete_scan, insight_app_sec_config_id: @insight_app_sec_config.id }, method: :delete) do %>
        <div class="p-2">
          <% opt = options_for_select([[]].concat(@insight_app_sec_config.wa_scans.recently_launched.map { |s| [s.name, s.internal_id] })) %>
          <%= select_tag :reference, opt, class: 'form-control btn-primary' %>
        </div>
        <div class="p-2">
          <%= submit_tag t('settings.buttons.delete'), data: { confirm: t('settings.actions.destroy_confirm') }, class: 'btn btn-outline-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
