<!-- Utilisation de l'option 'input_html' pour ne pas avoir de conflit avec params[:action] -->

<%= simple_form_for([qualys_config, qualys_client]) do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :qualys_id, as: :search, label: t('activerecord.attributes.qualys_client.qualys_id') %>
      <%= f.input :qualys_name, as: :search %>
    </div>
    <div class="col">
      <%= f.association :teams, collection: @qualys_config.teams.order('name ASC'), as: :check_boxes %>
    </div>
  </div>
  <%= ui_fixed_form_footer f %>
<% end %>
