<%= t('devise.mailer.two_factor_authentication.greetings', recipient: User.find_by(email: @email).full_name) %><br><br>
<p><%= t('devise.mailer.two_factor_authentication.code_sent') %></p>
<div style='width: 100%; text-align: center;'><strong><%= @code %></strong></div>
<p><%= t('devise.mailer.reset_password_instructions.instruction_2') %></p>
<%= I18n.t('mailer.content.polite') %>
