<% expanded ||= 'false' %>
<% bg_color ||= 'secondary' %>
<% text_color ||= 'white' %>
<% btn_color ||= 'transparent' %>
<% icon ||= '' %>
<% filter ||= false %>
<%- card_clazz ||= 'rounded-0 mb-1' %>
<%- card_header_clazz ||= "rounded-0 p-1 d-flex justify-content-start bg-#{bg_color} text-#{text_color} align-items-center" %>
<%- card_body_clazz ||= '' %>
<div class='card <%= card_clazz %>'>
  <div class='card-header <%= card_header_clazz %>'>
    <button class="btn btn-<%= btn_color %> btn-sm p-0 me-1" type="button" data-bs-toggle="collapse" data-bs-target="#<%= id %>" aria-expanded="<%= expanded %>" aria-controls="<%= id %>">
      <span class="button_unfold_more"><i aria-hidden='true' class="material-icons align-middle fold"><%= Icons::MAT[:unfold] %></i></span>
      <span class="button_unfold_less"><i aria-hidden='true' class="material-icons align-middle unfold"><%= Icons::MAT[:fold] %></i></span>
    </button>
    <%= yield :header %>
  </div>
  <div class="card-body collapse <%= expanded ? 'show' : '' %> <%= card_body_clazz %>" id="<%= id %>">
    <%= yield :body %>
  </div>
</div>
